.ingredients {
  position: absolute;
  height: 64px;
  top: 0;
}

.image-container,
.image,
.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}

.image {
  background-position: center;
  background-size: cover;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.border {
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(to right, #801ab2, #4c4cff) border-box;
}
