.ingredients {
  position: absolute;
  height: 64px;
  top: 0;
}

.image-container,
.image,
.border,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}

.image,
.border {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.image {
  background-position: center;
  background-size: cover;
}

.border {
  background: linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(to right, #801ab2, #4c4cff) border-box;
}

.overlay {
  border-radius: 50%;
  background-color: rgba(28, 28, 33, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}
