.form {
  display: flex;
  flex-direction: column;
}

.form__button {
  align-self: center;
}

.form-container {
  width: 480px;
  margin: 180px auto 0;
}

.form-title,
.form-text {
  text-align: center;
}
