.card-order {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 584px;
  min-height: 214px;
  box-sizing: border-box;
  background-color: var(--background);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color .4s;
}

.card-order:hover {
  background-color: var(--background-element);
}

.orderId {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  position: relative;
  height: 64px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.image-container,
.image,
.border {
  position: absolute;
  width: 64px;
  height: 64px;
}

.image-container {
  top: 0;
}

.image {
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.border {
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(var(--background) 0 0) padding-box,
    linear-gradient(to right, #801AB2, #4C4CFF) border-box;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
