.list__item {
  width: 272px;
  position: relative;
  box-sizing: border-box;
  cursor: grab;
}

.list__item_isDragging {
  opacity: .5;
}

.currency {
  display: flex;
  justify-content: center;
}

.name {
  text-align: center;
}
