.aside {
  width: 320px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item {
  display: flex;
  align-items: center;
  width: 320px;
  min-height: 64px;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: opacity .3s;
}

.link:hover {
  opacity: .8;
}
