.list-item:last-child {
	margin-left: auto;
}

.list-item:nth-child(3) {
	width: 22.66%;
	transform: translateX(40%);
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	transition: opacity .3s;
}

.link:hover {
	opacity: .8;
}
