#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 0;
}

.input__container,
.input {
  width: 100%;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}
