.tabs {
  display: flex;
}

.ingredients {
  width: 600px;
  max-height: 650px;
  overflow-y: scroll;
  position: relative;
}

.list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  column-gap: 24px;
  list-style-type: none;
}
