.tabs {
  display: flex;
}

.ingredients {
  width: 600px;
  max-height: 650px;
  overflow-y: scroll;
}

.ingredients-item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  column-gap: 24px;
  list-style-type: none;
}

.item {
  width: 272px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.currency {
  display: flex;
  align-items: center;
}
